* {
    font: 1em Helvetica, Verdana, Arial, sans-serif;
}

html,
body {
    margin: 5px 0 15px;
    padding: 0;
}

body {
    background-color: #efefef;
    text-align: center;
    font-size: 0.75em
}

div {
    padding: 0;
    margin: 0
}

/* LAYOUT DIVS */
#container {
    width: 95%;
    margin: 0 auto;
    text-align: left;
    position: relative
}

#header {
    border-bottom: solid 0.2em #000;
    height: 3.3em;
    margin-bottom: 0em;
}

#header-left {
    float: left;
    ;
    width: 50%;
}

#header-right {
    float: left;
    text-align: right;
    width: 50%;
}

#header-left h1 {
    color: #000;
    font-size: 2.8em;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-family: georgia, serif;
    margin-top: 0.2em;
    margin-left: 0em;
    margin-bottom: 0em;
}

#MainContents {
    margin-top: 0em;
    position: relative
}

.toleft {
    float: left;
}

.toright {
    float: right;
}

.w15 {
    width: 15%
}

.w20 {
    width: 19%
}

.w25 {
    width: 25%
}

.w50 {
    width: 48%
}

.w75 {
    width: 74%
}

.w100 {
    width: 99%
}

.w95 {
    width: 94%
}

.h40em {
    max-height: 40em;
    overflow: auto
}

/* MENU STYLE */
#menu {
    position: relative;
    border-bottom: solid 0.1em #000;
    height: 1.4em;
    padding: 0;
}

ul#topmenu {
    margin: 0;
    padding: 0;
    z-index: 30;
    list-style: none;
    font: normal 0.8em verdana, arial, helvetica;
    color: #000000;
    background: #efefef;
    position: absolute;
    left: 0em;
    bottom: 0.1em;
}

ul#topmenu li {
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
    color: #000000;
    background: #efefef
}

ul#topmenu li a {
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    color: #000000;
    background-color: #efefef;
}

ul#topmenu li a:hover {
    background-color: #cecece;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    color: #000000;
}

#topmenu div.submenu {
    position: absolute;
    left: 0.5em;
    top: 1.5em;
    visibility: hidden;
    margin: 0px;
    padding: 0px 0.2em 0px 0.2em;
    border: 1px solid;
    background: #efefef
}

#topmenu div.submenu a {
    position: relative;
    display: block;
    margin: 0;
    margin-left: 8px;
    padding-left: 3px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: left;
    text-decoration: none;
    background: #efefef;
    color: #000000;
    width: auto;
    white-space: nowrap;
    border-left: 1px solid #000000;
    font-size: 1em;
}

#topmenu div.submenu h3 {
    color: #000000;
    font-size: 1em;
    margin-left: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: 1px;
    font-family: georgia, serif;
    border-bottom: 1px solid #000000;
    font-style: italic;
    width: auto;
    white-space: nowrap;
}

#topmenu div a:hover {
    background-color: #cecece;
    color: #000
}

ul.compact {
    margin-top: 0;
    margin-bottom: 0;
}

/* FILTER TABS STYLES */
#Variantheader {
    margin-top: 1em;
}

#Variantheader ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#Variantheader li {
    float: left;
    border: 1px solid;
    border-bottom-width: 0;
    margin: 0 0.5em 0 0;
}

#Variantheader li a {
    padding: 0em 1em;
    text-decoration: none;
    margin: 0;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    color: #000000;
    background-color: #efefef;
}

#Variantheader li a:hover {
    padding: 0em 1em;
    text-decoration: none;
    margin: 0;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 1px;
    color: #000000;
    background-color: #aeaeae;
}

select optgroup {
    font-weight: bold;
}

#Variantheader .selected {
    position: relative;
    top: 1px;
    background: white;
}

#Variantheader .unselected {
    position: relative;
    top: 0px;
    background: #efefef;
}

#FilterTabs {
    padding: 0em 1em;
    border: 1px solid #333;
    clear: both;
}

/* CONTENTS STYLE */
.section {
    margin-bottom: 2em;
    padding-bottom: 2em;
    border-bottom: 0.2em dashed #aaa;
    position: relative
}

.section h2 {
    color: #333;
    font-size: 2em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0.5em;
    letter-spacing: 1px;
    font-family: georgia, serif;
}

.section h3 {
    color: #333;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0.5em;
    letter-spacing: 1px;
    font-family: georgia, serif;
}

.section h4 {
    color: #333;
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0.5em;
    letter-spacing: 1px;
    font-family: georgia, serif;
}

.section p {
    clear: both;
    text-align: justify;
}

.indent {
    padding-left: 15px;
}

.cc_container {
    text-align: left;
}

#cc_details {
    background: #222;
    color: #fff;
    /*margin-top:-0.8em;*/
    padding: 1em 3em 1em 3em;
    text-align: left;
    font-size: 17px;
    font-style: italic;
    ￼ font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
}

#overlay {
    z-index: 9500;
    /* opacity */
    /* filter: alpha(opacity=85); */
    /*older IE*/
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=85);
    /* IE */
    /*-moz-opacity: .85; */
    /*older Mozilla*/
    /* -khtml-opacity: 0.85; */
    /*older Safari*/
    opacity: 0.85;
    /*supported by current Mozilla, Safari, and Opera*/

    background-color: #000000;
    padding-top: 4em;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    color: #fff;
    vertical-align: middle;
    overflow-y: scroll;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

#overlay::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
}

/*.fixed {
    top:0;
    left:5px;
    position:fixed;        
}
*/
#overlay h3 {
    color: #fff;
    font-size: 2em;
    ;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0.5em;
    letter-spacing: 1px;
    font-family: georgia, serif;
}

#overlay p {
    font-size: 1em;
    color: #fff;
    clear: both;
    text-align: center
}

#cbContainer {
    margin-left: auto;
    margin-right: auto;
    width: 75em
}

.cb_a2c {
    border-left: 1pt solid white;
    border-right: solid 1pt white;
    border-bottom: 1pt solid white
}

.cb_a2c th {
    border-top: 1pt solid white;
    border-bottom: 1pt solid white;
    background-color: #333
}

td.last {
    border-top: 1px solid white;
}

.cb_a2c .emph {
    text-decoration: none;
}

.cb_vc {
    border-left: 1pt solid #aeaeae;
    border-right: solid 1pt #aeaeae;
    border-bottom: 1pt solid #aeaeae;
    margin-right: 2em;
    font-size: 0.85em
}

.cb_vc th {
    border-top: 1pt solid #aeaeae;
    border-bottom: 1pt solid #aeaeae;
    background-color: #aeaeae
}

.cb_vc td {
    white-space: nowrap;
}

.cb_vc .emph {
    text-decoration: none;
}

.NoteBox {
    vertical-align: middle;
}

/* hide unchecked disabled checkboxs */
.cb_a2c input[type="checkbox"][disabled]:not(:checked)+label {
    display: none;
}

.cb_a2c input[type="checkbox"][disabled]:not(:checked) {
    display: none;
}

.cb_a2c input[type="checkbox"][disabled]:checked+label {
    color: white;
    /* #90ff00*/
    ;
    font-weight: bold;
}

.cb_a2c input[type="checkbox"][disabled]:checked {
    color: #90ff00;
    font-weight: bold;
}

.white {
    color: #FFF;
}

.bgdark {
    background-color: #aeaeae;
}

.scrollbarbox {
    height: 100px;
    z-index: 1;
    border: 1px solid #000;
    background-color: #FFF;
    left: 400px;
    top: 100px;
    visibility: visible;
    display: block;
    overflow: auto;
}

/* TABLES STYLE */
td {
    border: 0;
    padding-left: 0.5em
}

th.btop {
    padding-left: 0.1em;
    border: 1px solid #333;
    color: #333;
    font-size: 1.1em;
    font-weight: bold;
}

th.top {
    padding-left: 0.1em;
    border-bottom: 1px solid #333;
    color: #333;
    font-size: 1.1em;
    font-weight: bold;
}

th.left {
    color: #333;
    font-size: 1.1em;
    font-weight: bold;
    padding-right: 1em
}

td.last {
    border-top: 1px solid #333;
}

td.sendnews {
    display: none;
}

/* anti-spam field */
tr.spacer {
    height: 0.5em;
}

#altwarning:hover {
    background-color: #333;
}

td.sub {
    background-color: #e3e3e3;
    font-size: 0.9em;
}

#WideVariantTable td {
    white-space: nowrap;
    padding-left: 1em;
}

#WideVariantTable th {
    white-space: nowrap;
    padding-left: 1em;
}

#WideVariantTable tr:hover {
    background-color: #d3d3d3;
}

th.subtable {
    background-color: #d3d3d3;
    font-size: 0.95em;
    padding-right: 1em;
    border-bottom: 1px solid #333;
    color: #333;
    font-weight: bold;
    font-style: italic;
    margin-left: 1em;
}

td.subtable {
    background-color: #d3d3d3;
    font-size: 0.9em;
    padding-right: 1em;
}

th.overlay_big {
    padding-left: 0.1em;
    border: 1px solid #333;
    background-color: #333;
    color: #fff;
    font-size: 1.3em;
    font-weight: bold;
}

th.headsel {
    color: red;
    text-transform: uppercase
}

#overlay th.top {
    padding-left: 0.1em;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 1.1em;
    font-weight: bold;
}

#overlay td.last {
    border-top: 1px solid #fff;
}

#overlay table {
    table-layout: fixed;
}

/*STYLE CLASSES*/
.italic {
    font-style: italic;
}

.emph {
    font-weight: bold;
    text-decoration: underline;
}

.underline {
    text-decoration: underline;
}

.strong {
    font-weight: bold;
}

.block {
    margin-left: 1em;
    margin-top: 1em;
    background-color: #D9D0C2;
    font-size: 1.1em;
    border: 0.2em solid #806133;
    padding: 0.3em;
    width: 60%;
    word-wrap: break-word;
}

.code {
    width: 2.6em;
    font-weight: bold;
    border: 0.2em solid #806133;
    margin-bottom: 0.3em;
    margin-top: -1.1em;
    margin-left: 5px;
    background: #D9D0C2;
}

.example {
    width: 8em;
    font-weight: bold;
    border: 0.2em solid #806133;
    margin-bottom: 0.3em;
    margin-top: -1.1em;
    margin-left: 5px;
    background: #D9D0C2;
}


/* LINK STYLES */
#VariantTable a:link {
    color: #000;
    text-decoration: none;
}

#VariantTable a:hover {
    background-color: #cecece;
    text-decoration: none;
    color: #0000cc;
}

/* LIST STYLES */
#nodisc {
    padding-left: 5px;
    list-style-type: none;
}

/* IMAGES */
img.simple {
    display: block;
    border: 1px solid #555;
    margin-left: auto;
    margin-right: auto;
    padding: 1px;
}

.red {
    color: #FF0000;
}

/* GRAPHS */
.chart {
    width: 100%;
    height: 325px;
    border: 1px solid #aeaeae;
}

.divcharts {
    position: relative;
    float: left;
    margin-left: 15px;
    text-align: center;
    width: 325px;
    margin-bottom: 15px;
}

.divchartw {
    position: relative;
    float: left;
    margin-left: 15px;
    text-align: center;
    width: 665px;
    margin-bottom: 15px;

}

.divchartvw {
    position: relative;
    float: left;
    margin-left: 15px;
    text-align: center;
    width: 1005px;
    margin-bottom: 15px;

}

.charts {
    border: 1px solid black;
}

.chart {
    border: 1px solid black;
    width: 100%;
    height: 325px;
}

.legend {
    text-align: center;
    padding-top: 5px;
    font-style: italic;
}

.twocol {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    column-gap: 1em;
    break-inside: avoid
}

ul.clear {
    list-style: none;
}

.nobreak {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

.vrow:hover {
    background-color: #aeaeae;
}

.cols-four {
    column-count: 4
}